@import '~primereact/resources/primereact.css';
@import '~primereact/resources/themes/luna-green/theme.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
/* See: https://fontawesome.com/cheatsheet */
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';

* {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #3f3f3f;
  color: #ffffff;
}

footer {
  display: block !important;
  height: 20px;
  margin-top: auto;
  text-align: center;
  font-size: 12px;
  color: #767676;
}

input, button {
  margin: 5px 0;
  font-size: 16px;
}

input {
  width: 300px;
}

h1 {
  margin: 5px 0;
}

:focus, .p-focus {
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  -moz-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.page {
  margin: 10px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.align-right {
  text-align: right;
}
